################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Zombia/Assets/Zombia/Scrip/BasicZombie.cs
/Zombia/Assets/Zombia/Scrip/BasicZombie.cs.meta
/Zombia/Assets/Zombia/Scrip/State.cs
/Zombia/Assets/Zombia/Scrip/State.cs.meta
